@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #0f2942;
  border-color: #a6aaae;
}

#root {
  background: #f1f8fe;
  scrollbar-gutter: stable;
  height: 100vh;
  overflow: auto;
}

#user,
#password {
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background: transparent;
}

input {
  background: transparent;
}

form {
  background: transparent;
}

label {
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

select option {
  background: #0f2942;
  color: #f1f8fe;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.first_class {
  grid-column-start: var(--d1);
}

.li-license:hover {
  #svgArrowBot {
    stroke: #f1f8fe;
  }
}